<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Google Analytics
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108863573-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108863573-1');
    </script>



  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Building 21</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/dependencies.css">


  <script src="js/dependencies.js"></script>
  <script id="calendar-template" type="text/template">
<div id="events-this-month" class="row">
    <h4>Events</h4>
    <div class="clndr-controls">
        <button class="clndr-previous-button">&lsaquo;</button>
        <div class="month"><%= month %><y5/div>
        <button class="clndr-next-button">&rsaquo;</button>
    </div>
</div>

<ul id="events-this-month-list">
    <% _.each(days, function(day) { %>
        <% _.each(day.events, function(event) { %>
        <li>
            <span class="event-title"><b><%= event.title %></b></</span> <br>
            <span class="event-date">
                <%= event.date.local().format('D MMM') %>, <%= event.date.local().fromNow() %>
            </span> <br>
            <% if(event.startDate && event.endDate) { %>
            <span class="event-time">
                from
                <span class="start time">
                    <%= event.startDate.local().format(niceTimeFormat) %>
                </span>
                to
                <span class="end time">
                    <%= event.endDate.local().format(niceTimeFormat) %>
                </span>
            </span> <br>
            <% } %>
            <% if(event.summary) { %>
            <p class="event-summary"> <%= event.summary %> </p>
            <% } %>
        </li>
        <% }); %>
    <% }); %>
</ul>
</script>
</head>
<body>
  <div class="container">
	<div class="row" style="border-bottom: 1px solid black; padding-top: 2rem">
	    <div class="one-half column" style="text-align: center;">
	    	<p>Looking for the BLUE Fellowships?</p>
	    </div>
	    <div class="one-half column" style="text-align: center;">
	    	<a class="button" href="https://blue-fellowships-mcgill.ca">Learn More</a>
	    </div>
	</div>
    <h1 style="margin-top: 2rem; margin-bottom: 2rem"><b>Building 21</b></h1>
    <div class="row">
      <div class="one-third column" >
        <h4>Vision</h4>
        <p>
          Building 21 is an experiment in new, innovative, and beautiful ways to
          approach the university experience—an open lab where curious minds
          from all levels and disciplines are invited to come together to
          collaborate, to think, and to dream outside the traditional confines
          of their areas of study and expertise. In Building 21, one explores,
          seeks and pursues unconventional ideas, and develops unique and
          beautiful systems, processes, and methods of understanding. Building
          21 is a place where creativity is encouraged, beauty and chaos are
          celebrated and frontiers are meant to be ignored.
        </p>
      </div>

      <div class="two-thirds column" >
        <h4>Mission</h4>
        <p>
          Inspired by Building 20 at MIT, B21 provides a hub for creative
          scholars and staff to network with like-minded talents from across our
          campuses, and freely explore ideas and projects they may otherwise not
          have. This is a place where students, faculty and staff can
          re-experience, re-model, re-build, and re-invent the entire edifice of
          higher education.
        </p>
        <p>
          From quantum physics to student affairs; from neuroscience to student
          politics; from philosophy to immersive realities; from the microcosm
          to the campus, B21 is a space where one can explore, play with,
          manipulate, bend, break, probe, and recreate the multi-faceted
          aspects, dimensions, and experiences of ideas, knowledge, thinking,
          self-development, and education.
        </p>
        <p>
          B21 is not an accelerator nor a research center; it will not seek
          research funding and it will not give credits. Projects do not need to
          produce results to be considered a success, and experimentation for
          the sake of experimentation is more than welcomed. B21 is a sandbox, a
          theatre studio, a playground, and a renaissance ‘atelier.’
        </p>
      </div>
    </div>

    <div id="info-boxes">
        <div class="row info-box" style="padding-top: 2rem">
            <div class="one-half column">
                <h4 class="nomargin">Our Code of Conduct</h4>
            </div>
            <div class="one-half column" style="text-align: center;">
                <a class="button" href="codeofconduct.html">Read it now</a>
            </div>
        </div>
        <div class="row" style="padding-top: 2rem">
            <div class="one-half column">
                <h4 class="nomargin">Where, When, & Who</h4>
            </div>
            <div class="one-half column">
                <ul>
                <li> 651 Sherbrooke Oest, Monday-Friday, 9am-5pm </li>
                <li> Open to the entire McGill Community: students, faculty, and staff</li>
                <li>Wheelchair accessible through RVC</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2rem">
        <div id="calendar-widget-container"></div>
    </div>
</body>
</html>
