[Unit]
Description=Building21 Backend
After=network-online.target

[Service]
WorkingDirectory=/home/b21
User=b21
Group=nogroup
ExecStart=/home/b21/.local/bin/b21-backend-exe
EnvironmentFile=/home/b21/b21-backend.production.env

[Install]
WantedBy=multi-user.target
