[Unit]
Description=Building21 Backend
After=network-online.target

[Service]
WorkingDirectory=/home/tsani
User=tsani
Group=nogroup
ExecStart=/home/tsani/.local/bin/b21-backend-exe
EnvironmentFile=/home/tsani/b21-backend.production.env

[Install]
WantedBy=multi-user.target
