<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Building21 | $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body class="page-center">
        <div id="header">
            <div id="title">
                Building21
            </div>
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            This is a footer.
        </div>
    </body>
</html>
